@model DailyProgressReport.Models.ShowLocations

@{
    ViewData["Title"] = "Add Location";
}

<div id="addLocationContainer" class="container mt-4">
@*    <h3 class="text-center mb-4">Add Location</h3>
*@    <form style="text-align: center;">
        <div class="form-group">
            <h6 class="mb-4">Component:</h6>
            <select id="componentId" name="componentId" class="form-control">
                <option value="">Please Select</option>
                @foreach (var component in Model.components)
                {
                    <option value="@component.Id">@component.ComponentName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <h6 class="mb-4">Block:</h6>
            <select id="blockId" name="blockId" class="form-control">
                <option value="">Please Select</option>
                @foreach (var block in Model.blocks)
                {
                    <option value="@block.Id">@block.BlockName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <h6 class="mb-4">Location Name:</h6>
            <input type="text" id="locationName" name="locationName" class="form-control" placeholder="Enter Location Name">
        </div>

        <div style="margin-top: 15px;">
            <button id="btnAddLocation" type="button" class="btn btn-danger" onclick="addLocation()">Add</button>
            <button type="button" class="btn btn-secondary" onclick="openaddMastersContainer()">Cancel</button>
        </div>
    </form>
</div>

<div id="locationListContainer" class="container mt-4">
@*    <h3 class="text-center mb-4">Location List</h3>*@
    <table id="locationTable" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Component</th>
                <th>Block</th>
                <th>Location Name</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Updated Date</th>
                <th>Updated By</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model.locations)
            {
                <tr>
                    <td>@location.Id</td>
                    <td>@location.ComponentName</td>
                    <td>@location.BlockName</td>
                    <td>@location.LocationName</td>
                    <td>@location.CreatedDate</td>
                    <td>@location.CreatedBy</td>
                    <td>@location.UpdatedDate</td>
                    <td>@location.UpdatedBy</td>
                    <td>
                        <i class="edit-icon" onclick="editLocation('@location.Id', '@location.ComponentId', '@location.BlockId')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" /> </svg>
                        </i>

                        <i class="delete-icon" onclick="deleteLocation('@location.Id')">
                            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path> </svg>
                        </i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">*@
<script>
    // Include jQuery and DataTables scripts here

    $(document).ready(function () {
        // Initialize DataTable for the location table
        $('#locationTable').DataTable({
            "columnDefs": [
                {
                    "targets": [0],  // Index of the column (LocationID in this case)
                    "visible": false,
                    "searchable": false,
                }
            ],
            "order": [[0, "desc"]]  // Sort by LocationID in descending order
        });
    });

    // Include your other script code here


    function editLocation(id) {
        // Use AJAX to fetch location details by ID
        $.get('@Url.Action("GetLocationById", "DprLocation")', { id: id }, function (data) {
            if (data.success) {
                // Set the values in the form fields for editing
                $("#locationName").val(data.location.locationName);
                $("#componentId").val(data.location.componentId);
                $("#blockId").val(data.location.blockId);

                // Change the button text and bind the update function
                $("#btnAddLocation").removeAttr("onclick");
                $("#btnAddLocation").text("Update").click(function () {
                    updateLocation(id);
                });

                // Show the cancel button or perform other actions if needed
                // $("#cancelBtn").show();
            } else {
                alert("Error fetching location details.");
            }
        });
    }

    function updateLocation(id) {
        var locationName = $("#locationName").val();
        var componentId = $("#componentId").val();
        var blockId = $("#blockId").val();

        if (locationName !== "") {
            // Use AJAX to call the controller action for updating a location
            $.post('@Url.Action("UpdateLocation", "DprLocation")', {
                id: id,
                locationName: locationName,
                componentId: componentId,
                blockId: blockId
            }, function (data) {
                if (data.success) {
                    alert(data.message);  // Show success alert
                    // Optionally, reload the location list or perform other actions
                    ReLoadDprLocation();
                } else {
                    alert(data.message);  // Show error alert
                }
            });
        } else {
            alert("Please add location name");
        }
    }


    function addLocation() {
        var componentId = $("#componentId").val();
        var blockId = $("#blockId").val();
        var locationName = $("#locationName").val();

        if (componentId !== "" && blockId !== "" && locationName !== "") {
            // Use AJAX to call the controller action for adding a location
            $.post('@Url.Action("AddLocation", "DprLocation")', {
                componentId: componentId,
                blockId: blockId,
                locationName: locationName
            }, function (data) {
                if (data.success) {
                    alert(data.message);  // Show success alert
                    // Optionally, clear the form fields
                    $("#componentId").val("");
                    $("#blockId").val("");
                    $("#locationName").val("");
                    // Optionally, hide the Add Location section
                    $("#addLocationContainer").hide();
                    // Show the Location List section
                    $("#locationListContainer").show();
                    // Reload the DataTable after adding a location
                    ReLoadDprLocation();
                } else {
                    alert(data.message);  // Show error alert
                }
            });
        } else {
            alert("Please fill in all fields");
        }
    }

    function deleteLocation(id) {
        if (confirm("Are you sure you want to delete this location?")) {
            // Use AJAX to call the controller action for deleting a location
            $.post('@Url.Action("DeleteLocation", "DprLocation")', { id: id }, function (data) {
                if (data.success) {
                    alert(data.message);  // Show success alert
                    // Optionally, reload the location list or perform other actions
                    ReLoadDprLocation();
                } else {
                    alert(data.message);  // Show error alert
                }
            });
        }
    }

    function ReLoadDprLocation() {
        window.location.href = '/DprLocation/Index';
    }
    function openaddMastersContainer() {
        window.location.href = '/AddMaster/Index';
    }

</script>
